:root {
  --background: #f4f4f4;
  --color-primary: rgb(32, 32, 243);
  --color-secondary: black;
  --color-accent: rgb(253, 0, 0);
  --color-header: #333;
  --color-headings: #1b0760;
  --color-text: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}
*,
*::after,
*:before {
  box-sizing: border-box;
}

/*TYPOGRAPHY*/
html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 1.5;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
p {
  margin-top: 0;
}

h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

.header {
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
  padding: 15px 0;
}

/*Navigstion Bar*/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

li {
  list-style: none;
}

.nav--logo {
  width: 100px;
  height: 100px;
}

.nav__list {
  display: flex;
  width: auto;
  max-width: 100%;
  opacity: 1;
}

.nav__toggler {
  display: none;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.navigation.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.list--items {
  padding: 0.5rem 2rem;
  border-bottom: 0;
}
.icon {
  width: 40px;
  height: 40px;
}

.icon--color {
  fill: var(--background);
}

#listings {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb((0, 0, 0, 0.1));
}
.car-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.car-listing img {
  max-width: 150px;
  margin-right: 20px;
}

/* LINKS */
a {
  text-decoration: none;
  transition: color 0.3s;
  color: #d2d0db;
}

a:hover {
  color: #fff;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/*Hero*/

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90% 0% 100%);
  padding-top: 0;
}

.hero__tagline {
  font-size: 3rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.hero__content {
  text-align: left;
  align-self: center;
}

.hero-image {
  width: 100%;
}
/*Grid*/
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

/*Block*/
.block {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
  font-size: 6rem;
}

.block--dark {
  background-color: black;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.block__header {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 4rem auto;
}

/*Button*/
.btn {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 4vw;
  outline: 0;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  border: none;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #fd4516;
}

.btn-secondary {
  background-color: var(--color-header);
  background-color: #fff;
}

.btn-secondary:hover {
  background: #535050;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn-card {
  border: 2px solid var(--color-headings);
  padding: 1.5rem 3rem;
  border-radius: 40px;
  margin-top: 20px;
  background: #fff;
  cursor: pointer;
  width: 50%;
  display: inline-block;
  color: var(--color-headings);
}

.btn-card:hover {
  background: var(--color-headings);
  color: #fff;
}

.text-p {
  color: var(--color-headings);
  font-size: 1.5rem;
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-headings);
  font-size: 1.5rem;
}
::placeholder {
  color: #cdcbd7;
}

.input-groups {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-groups .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-groups .btn {
  margin: 4px;
}

.block--domain .input-groups {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
/*Card*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}
.card--secondary .badge--secondary {
  background: var(--color-accent);
}

.card--secondary .badge--primary {
  background: #e8e7eb;
}

/*Plan*/

.plan__name {
  font-weight: 500;
  color: #fff;
  font-size: 1.4rem;
}
.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .service-item {
  margin-bottom: 2rem;
  padding-left: none;
  color: var(--color-headings);
}

.list--tick {
  list-style-image: url(images/tick.svg);
  padding-left: 3rem;
}
.list--tick .service-item {
  padding-left: 0;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
}
form label,
form input,
form select,
form button {
  margin: 10px;
}

form input,
form select,
form .button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: var(--color-header);
  color: white;
}

@media (max-width: 768px) {
  .car-listing {
    flex-direction: row;
  }

  .block__heading {
    font-size: 5rem;
  }

  .grid--1x2 {
    grid-template-columns: 1fr;
  }

  .hero__content {
    text-align: center;
    align-items: center;
  }

  .hero__tagline {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .image--content {
    margin-top: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 400;
  }

  .btn-card {
    padding: 1rem 1rem;
    width: 100%;
  }

  .nav__toggler {
    display: block;
  }

  .nav__list {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .list--items {
    border-bottom: 1px solid #222;
  }

  .collapsible__content {
    display: none;
  }

  .collapsible--expanded .collapsible__content {
    display: block;
  }

  .input {
    font-size: 2rem;
  }

  .plan__name,
  .plan__price {
    font-size: 1.8rem;
  }

  .plan__billing-cycle,
  .plan__description {
    font-size: 1.5rem;
  }

  .list--tick .service-item {
    padding-left: 0.5rem;
  }
}

@media (max-width: 390px) {
  .car-listing {
    flex-direction: column;
  }
  .car-listings {
    margin-top: 20px;
  }

  .block__heading {
    font-size: 4rem;
  }
}
