:root {
  --background: #f4f4f4;
  --color-primary: #02cdf1;
  --color-secondary: black;
  --color-accent: rgb(253, 0, 0);
  --color-header: #333;
  --color-headings: #1b0760;
  --color-text: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}
*,
*::after,
*:before {
  box-sizing: border-box;
}

/*TYPOGRAPHY*/

body,
html {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 1.5;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
p {
  margin-top: 0;
}

h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

.header {
  background-color: var(--color-secondary);
  color: white;
  text-align: center;
  padding: 15px 0;
}

/*Navigstion Bar*/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

li {
  list-style: none;
}

.nav--logo {
  width: 100px;
  height: 100px;
}

.nav__list {
  display: flex;
  width: auto;
  max-width: 100%;
  opacity: 1;
}

.nav__toggler {
  display: none;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.navigation.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.list--items {
  padding: 0.5rem 2rem;
  border-bottom: 0;
}
.list--items a:hover {
  color: #fff;
}
.icon {
  width: 40px;
  height: 40px;
}

.icon--color {
  fill: var(--background);
}

#listings {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

#lisings-car {
  margin-bottom: 2rem;
}

.car-listing {
  margin-bottom: 2rem;
}
.car-listing img {
  max-width: 150px;
  margin-right: 20px;
  margin-top: 1rem;
}

#services,
#renew {
  margin: 1.5rem;
}

/* LINKS */
a {
  text-decoration: none;
  transition: color 0.3s;
  color: #d2d0db;
}

a:hover {
  color: var(--color-headings);
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
  color: var(--color-headings);
}

/*Hero*/

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90% 0% 100%);
  padding-top: 0;
}

.hero__tagline {
  font-size: 3rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.hero__content {
  text-align: left;
  align-self: center;
}

.hero-image {
  max-width: 100%;
}

.img-container {
  gap: 2rem;
  padding: 1rem;
  margin-top: 10rem;
}

.img {
  margin-top: 2rem;
}

.images {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

/*Grid*/
.grid {
  display: grid;
  gap: 20px;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--1x4 {
  grid-template-columns: repeat(4, 1fr);
}

/*Block*/
.block {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
  font-size: 6rem;
}

.block--dark {
  background-color: black;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.block__header {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 3rem auto;
}

/*Button*/
.btn {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 4vw;
  outline: 0;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  border: none;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #fd4516;
}

.btn-secondary {
  background-color: var(--color-header);
  background-color: #fff;
}

.btn-secondary:hover {
  background: #535050;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn-card,
.btn-card2 {
  border: 2px solid var(--color-headings);
  padding: 1.5rem 3rem;
  border-radius: 40px;
  margin-top: 20px;
  background: #fff;
  cursor: pointer;
  width: 50%;
  display: inline-block;
  color: var(--color-headings);
}

.btn-card:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn-card2:hover {
  background: var(--color-secondary);
  color: #fff;
}

.text-p {
  color: var(--color-headings);
  font-size: 1.5rem;
}

input,
select {
  outline: 0;
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  color: var(--color-headings);
  font-size: 1.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.appointment-button,
.submit--button {
  border: none;
  background: var(--color-accent);
  padding: 12px 10px;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.input-groups {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-groups .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-groups .btn {
  margin: 4px;
}

.block--domain .input-groups {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.media-block {
  gap: 2rem;
  margin-top: 5%;
  cursor: pointer;
}

.media-block__content h3 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
}

.p {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.fa-solid {
  font-size: 5rem;
  color: #02cdf1;
  margin-bottom: 2rem;
}

/*Card*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--secondary .badge--secondary {
  background: var(--color-accent);
}

.card--primary .badge--primary {
  background: #126de4;
}

.section-block {
  margin-top: 10%;
}

/*Plan*/
.plan {
  transition: transform 0.2s ease-out;
}

.block-plans .grid {
  gap: 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

.plan__name {
  font-weight: 500;
  color: #fff;
  font-size: 1.4rem;
}
.plan__price {
  font-size: 4.9rem;
}

.plan__billing-cycle {
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .service-item {
  margin-bottom: 2rem;
  padding-left: none;
  color: var(--color-headings);
}

.list--tick {
  list-style-image: url(images/tick.svg);
  padding-left: 3rem;
}
.list--tick .service-item {
  padding-left: 0;
  margin-bottom: 1rem;
}

.plan--badge {
  transform: scale(1.1);
}
.plan--badge .card__header {
  position: relative;
}

.plan--badge .card__header::before {
  content: url(images/popular.svg);
  width: 40px;
  position: absolute;
  display: inline-block;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--badge:hover {
  transform: scale(1.15);
}

.block-content {
  margin-top: 3rem;
  gap: 2rem;
}

.block-content1 {
  padding-top: 5rem;
}
.grid__contents {
  margin-top: 2rem;
  color: var(--color-headings);
  margin-left: 2rem;
}

.grid__contents .h4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.grid-p {
  line-height: 1.5;
  font-size: 1.8rem;
}

.block-content-2 {
  padding: 5rem;
}

.card-testimony {
  max-width: 100%;
  background: #fff;
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 2rem;
}

.Testimony {
  padding: 3rem;
}

.Testimony h4 {
  font-size: 1.6rem;
  color: var(--color-headings);
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.testimony-image-container {
  display: flex;
  align-items: center;
}

.img-testimony {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}

h5 {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}
form label,
form input,
form select,
form button {
  margin: 10px;
}

form input,
form select,
form .button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  margin-top: 5rem;
}

.collapsible__heading {
  margin-top: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  padding-left: 3.5rem;
}

.footer__band img {
  width: 100%;
  max-width: 150px;
}

.footer__copyight {
  font-size: 1.5rem;
  opacity: 0.3;
  color: #fff;
}

.footer-container {
  color: #fff;
}

.ul-list {
  margin-top: 1.5rem;
}

.footer-list a,
.footer-list {
  color: var(--color-text);
  transition: transform 0.2s ease-out;
}

.footer-list a:hover,
.footer-list:hover {
  color: white;
  font-size: 1.5rem;
}

.footer-list {
  padding: 1rem;
}

.footers {
  text-align: center;
  padding: 15px 0;
  background-color: var(--color-header);
}

.fa-phone,
.fa-envelope,
.fa-question {
  font-size: 1.5rem;
  color: #fff;
}

.number {
  padding-left: 1rem;
}
.fa-instagram {
  color: red;
  font-size: 1.5rem;
}

@media (max-width: 912px) {
  .block__heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .car-listing {
    margin: 0 auto;
    width: 100%;
  }
  .block__heading {
    font-size: 2rem;
  }

  .grid--1x2 {
    grid-template-columns: 1fr;
  }

  .grid--1x3 {
    grid-template-columns: 1fr;
  }

  .grid--1x4 {
    grid-template-columns: 1fr 1fr;
  }

  .hero__content {
    text-align: center;
    align-items: center;
  }

  .hero__tagline {
    font-size: 1.8rem;
    margin-top: 3rem;
  }

  .image--content {
    margin-top: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 400;
  }

  .btn-card {
    padding: 1rem 1rem;
    width: 100%;
  }

  .nav__toggler {
    display: block;
  }

  .nav__list {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .car-band-heading,
  .link-arrow {
    font-size: 1.5rem;
  }
  .link-arrow {
    margin-bottom: 2rem;
  }

  .list--items {
    border-bottom: 1px solid #222;
  }

  .collapsible__content {
    display: none;
  }

  .collapsible--expanded .collapsible__content {
    display: block;
  }

  .input {
    font-size: 2rem;
  }

  .block-plans .grid {
    gap: 8rem 4rem;
  }

  .media-block {
    margin-top: 10%;
  }

  .media-block__content h3 {
    font-weight: 500;
    font-size: 1rem;
  }

  .p {
    font-weight: 300;
    font-size: 1rem;
  }

  .fa-solid {
    font-size: 4rem;
  }

  .h2-display {
    font-size: 3rem;
  }

  .grid__contents {
    margin-top: 1rem;
  }

  .grid__contents .h4 {
    font-size: 2rem;
  }

  .grid-p {
    font-size: 1.5rem;
  }

  .grid-container-image {
    margin-top: 2rem;
  }

  .block-content {
    margin-top: 2rem;
  }

  .block-content-2 {
    padding: 1rem;
  }

  #services,
  #renew {
    margin: 2rem;
  }

  .footer__band {
    display: none;
  }

  footer {
    margin-top: 3rem;
  }

  footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .fa-phone,
  .fa-envelope,
  .fa-question,
  .fa-instagram {
    font-size: 1.2rem;
  }

  .footer__copyight {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .car-listing img {
    max-width: 130px;
  }

  .block__heading {
    font-size: 2rem;
    font-weight: 500;
  }
  .block__header-p {
    margin-bottom: 1rem;
  }

  .footer__heading {
    font-size: 1.5rem;
    text-align: center;
  }
  .footer-list {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .block__heading {
    font-size: 1.8rem;
  }
  .h2-display {
    font-size: 2rem;
  }

  .car-listings {
    margin-top: 20px;
  }

  .plan__name,
  .plan__price {
    font-size: 1.8rem;
  }

  .plan__billing-cycle,
  .plan__description {
    font-size: 1.5rem;
  }

  .list--tick .service-item {
    padding-left: 0.5rem;
  }

  .footer-list a:hover,
  .footer-list:hover {
    font-size: 1.2rem;
  }
}
